{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container-fluid">
    <div class="card border-light">
      <h3 class="card-header d-flex">Tasks
        <form action="" method="get" class="d-flex ms-auto">
          {{ search_form }}
          <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
      </h3>
      <div class="card-body">
        {% with task_list_variable=task_list %}
          {% if task_list %}
            {% include "tasks/task/task_table.html" %}
          {% else %}
            <h5>There are no tasks</h5>
          {% endif %}
        {% endwith %}
        <div class="d-grid gap-2 col-6 mx-auto">
          <a style="float: right" href="{% url "tasks:task-create" %}"
             class="btn btn-outline-primary">Create new task</a>
        </div>
      </div>
      {% include "includes/pagination.html" %}
    </div>
  </div>
{% endblock %}
