{% extends "base.html" %}

{% block content %}
  <h3 class="index-data">
    {{ worker.first_name }}
    {{ worker.last_name }},
    {{ worker.position }}
  </h3>
  <div class="row">
    {% with task_list_variable=worker.tasks_in_progress_list %}
      <div class="col p-2">
        <div class="container-fluid">
          <div class="card border-light w-100 shadow">
            <h4 class="card-header">Tasks in progress</h4>
            <div class="card-body">
              {% if task_list_variable %}
                {% include "tasks/task/task_table.html" %}
                {% include "includes/pagination.html" %}
              {% else %}
                <h5>User have no tasks in progress</h5>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endwith %}
    {% with task_list_variable=worker.completed_tasks_list %}
      <div class="col p-2">
        <div class="container-fluid">
          <div class="card border-light w-100 shadow">
            <h4 class="card-header">Completed tasks</h4>
            <div class="card-body">
              {% if task_list_variable %}
                {% include "tasks/task/task_table.html" %}
                {% include "includes/pagination.html" %}
              {% else %}
                <h5>User have no completed tasks</h5>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endwith %}
  </div>
{% endblock %}
